* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/*Dale estilo al encabezado */

header {
    background-color: #666;
    text-align: center;
    color: #ffffff;
}
/* Cree dos columnas / cuadros que floten uno al lado del otro*/

nav {
    float: left;
    width: 20%;
    height: 400px;
    background-color: #98daf2;
    color: #ffffff;
}
/* Dale estilo a la lista dentro del menú*/

nav ul {
    list-style-type: none;
}
article {
    float: left;
    width: 70%;
    background-color: #ffffff;
    height: 400px;
}
/* Borrar flotadores después de las columnas*/

section:after {
    content: "";
    display: table;
    clear: both;
}
/* Dale estilo al pie de página */

footer {
    background-color: #666;
    text-align: center;
    color: #ffffff;
}
/* Diseño receptivo: hace que las dos columnas / cuadros se apilen uno encima del 
otro en lugar de uno al lado del otro, en pantallas pequeñas */

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
