* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Dale estilo al encabezado*/

header {
    background-color: #666;
    text-align: center;
    color: #ffffff;
}
/* Contenedor para cajas flexibles */

section {
    display: -webkit-flex;
    display: flex;
    /*width: 75%;*/
}
/* Dale estilo al menú de navegación*/

nav {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    background-color: #98daf2;
    color: #ffffff;
    height: 400px;
}
/* Dale estilo a la lista dentro del menú */

nav ul {
    list-style-type: none;
}
/* Dale estilo al contenido*/

article {
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
    background-color: #ffffff;
    /*height: 70%;*/
}
/* Dale estilo al pie de página */

footer {
    background-color: #666;
    text-align: center;
    color: #ffffff;
}
/* Diseño receptivo: hace que el menú y el contenido (dentro de la sección) se ubiquen uno encima del otro en lugar de uno al lado del otro */

@media (max-width: 600px) {
    section {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}
