* {
    box-sizing: border-box;
    /*margin: 1px;*/
}
body {
    font-family: Arial, Helvetica, sans-serif;
    /*margin: 30px;*/
}
/*Dale estilo al encabezado */

header {
    background-color: #666;
    padding: 30px;
    text-align: center;
    font-size: 35px;
    color: white;
}
/* Cree dos columnas / cuadros que floten uno al lado del otro*/

nav {
    float: left;
    width: 30%;
    height: 400px;
    /* solo para demostración, debe ser eliminado*/
    background: #ccc;
    padding: 20px;
}
/* Dale estilo a la lista dentro del menú*/

nav ul {
    list-style-type: none;
    padding: 0;
}
article {
    float: left;
    padding: 20px;
    width: 70%;
    /*width: 65%;*/
    background-color: #f1f1f1;
    height: 400px;
    /*solo para demostración, debe ser eliminado*/
}
/* Borrar flotadores después de las columnas*/

section:after {
    content: "";
    display: table;
    clear: both;
}
/* Dale estilo al pie de página */

footer {
    background-color: #777;
    padding: 10px;
    text-align: center;
    color: white;
}
/* Diseño receptivo: hace que las dos columnas / cuadros se apilen uno encima del 
otro en lugar de uno al lado del otro, en pantallas pequeñas */

@media (max-width: 600px) {
    nav, article {
        width: 100%;
        height: auto;
    }
}
