 body {
     padding: 50px;
 }
 * {
     box-sizing: border-box;
     margin: 0px;
     padding: 0px;
 }
 .flotante {
     width: 50px;
     height: 50px;
     /*margin: 1px;*/
     margin-bottom: 5px;
 }
 div {
     border: 1px solid black;
 }
 .flotante {
     float: left;
     height: 200px;
 }
 .flotante:after {
     content: "";
     display: table;
     clear: both;
 }
 .contenedor:befoar, .contenedor:befoar, {
     content: "";
     display: table;
     clear: both;
 }
 .contenedor {
     width: 95%;
     height: 900px;
     margin: 25px;
     padding: 25px;
 }
 .header {
     width: 100%;
     background-color: gray;
 }
 .aside {
     width: 25%;
     background-color: green;
     height: 500px;
 }
 .article {
     width: 75%;
     height: 500px;
     background-color: red;
 }
 .aside1 {
     width: 75%;
     background-color: yellow;
 }
 .article1 {
     width: 25%;
     background-color: blue;
 }
 .footer {
     width: 100%;
     background-color: gray;
 }
